version: '3.8'

services:
  postgres:
    build:
      context: ./DB
      dockerfile: Dockerfile  # Utilisez le Dockerfile spécifique pour PostgreSQL
    container_name: my-postgres-container
    env_file:
      - .env  # Utilisez le fichier .env du même dossier
    ports:
      - "5432:5432"
    volumes:
      - /path/to/data:/var/lib/postgresql/data
    networks:
      - my_network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile  
    container_name: my-backend-container
    working_dir: /app
    command: npm start
    env_file:
      - ./backend/.env
    ports:
      - "3000:3000"
    depends_on:
      - postgres
    volumes:
      - ./backend:/app
    networks:
      - my_network

  frontend:
    build:
      context: .
      dockerfile: ./frontend/Dockerfile
    container_name: my-frontend-container
    env_file:
      - ./frontend/.env
    ports:
      - "8070:80"
    networks:
      - my_network

networks:
  my_network:
    external: true
